<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Búsqueda Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">ID del usuario</ion-label>
    <ion-input [(ngModel)]="txtUsuarioId" type="number"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="consultarUsuarioPorId(txtUsuarioId)">Consultar</ion-button>
  
  <ion-card *ngIf="datosUsuario != null">
    <ion-card-header>
      <ion-card-title>{{datosUsuario.nombreCompletoPersona}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ID usuario: {{datosUsuario.id}} <br>
      Username: {{datosUsuario.nombreUsuario}} <br>
      Código: {{datosUsuario.codigoUsuario}}<br>
      Estado: {{datosUsuario.estado}}
      <ion-fab class="float-button">
        <ion-fab-button size="small" routerLink="/usuario-editar/{{datosUsuario.id}}">
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>
  


</ion-content>