<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Creación Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre del usuario</ion-label>
    <ion-input [(ngModel)]="objetoCrearUsuario.nombreUsuario" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Codigo del usuario</ion-label>
    <ion-input [(ngModel)]="objetoCrearUsuario.codigoUsuario" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nombre completo del usuario</ion-label>
    <ion-input [(ngModel)]="objetoCrearUsuario.nombreCompletoPersona" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="crearUsuario(objetoCrearUsuario)">Crear usuario</ion-button>
  
   <ion-card *ngIf="respuestaCreacionUsuario !== null">
    <ion-card-header>
      <ion-card-title>{{respuestaCreacionUsuario.nombreCompletoPersona}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ID usuario: {{respuestaCreacionUsuario.id}} <br>
      Username: {{respuestaCreacionUsuario.nombreUsuario}} <br>
      Código: {{respuestaCreacionUsuario.codigoUsuario}} <br>
      Estado: {{respuestaCreacionUsuario.estado}}
    </ion-card-content>
  </ion-card>
</ion-content>
